:root {
  z-index: var(--z-index-sticky-header);
}

body {
  background-color:rgb(255, 255, 255);
}

header {
  overflow-y:auto;
  overflow-x:auto;
  display: flex;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 0;
  height: 50px;
  background-color: rgb(14, 133, 34);
  padding: 0 20px;
}

.header_div {
  max-height:42px;
}

#logo{
  max-width:35px;
  max-height:35px;
}

header > div, header > nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

header > div {
  width:250px;
}

header > nav {
  margin-left: auto;
  gap: 50px;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a{
  transition: color 0.25s ease-out;
}

a:hover{
  color: rgb(212, 212, 212)
}